<nav class="nav">
  <h1><a href="/">E-COMM</a></h1>
  <div *ngIf="menuType==='default'" class="search">
    <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search for Products">
    <button (click)="onSearch(searchInput.value)">Search</button>
    <ul class="suggested-result" *ngIf="searchResults">
      <li *ngFor="let item of searchResults">
        <a>{{item.name}}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="seller-auth" routerLinkActive="active">Seller</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Cart(0)</a></li>
    </ul>

    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-home" routerLinkActive="active">List</a></li>
      <li><a routerLink="seller-add-product" routerLinkActive="active">Add Product</a></li>
      <li><a routerLinkActive="active" (click)="logout()">Logout</a></li>
      <li><a href="#">{{sellerName}}</a></li>
    </ul>
  </div>
</nav>