<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://adminapi.applegadgetsbd.com/storage/media/large/iPhone-14-Pro-Max-9907.jpg" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price</b></p>
        <p><span>color: Red</span><span>Category: Mobile</span></p>
        <p>A Product Search UI</p>
    </div>
</div>

<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://adminapi.applegadgetsbd.com/storage/media/large/iPhone-14-Pro-Max-9907.jpg" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price</b></p>
        <p><span>color: Red</span><span>Category: Mobile</span></p>
        <p>A Product Search UI</p>
    </div>
</div>

<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://adminapi.applegadgetsbd.com/storage/media/large/iPhone-14-Pro-Max-9907.jpg" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price</b></p>
        <p><span>color: Red</span><span>Category: Mobile</span></p>
        <p>A Product Search UI</p>
    </div>
</div>

<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://adminapi.applegadgetsbd.com/storage/media/large/iPhone-14-Pro-Max-9907.jpg" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price</b></p>
        <p><span>color: Red</span><span>Category: Mobile</span></p>
        <p>A Product Search UI</p>
    </div>
</div>